@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@model Cosmos.Common.Models.ArticleViewModel
@{
    Layout = null;
    ViewData["Title"] = Model.Title;
}
<!doctype html>
<html lang="@Model.LanguageCode">
<head>
    <title>@Model.Title</title>
    <meta property="og:title" content="@Model.Title" />
    <meta property="og:url" content="@Model.OGUrl" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="@Model.OGImage" />
    <meta property="article:modified_time" content="@Model.Updated.ToString("u")">
    <meta name="cwps-meta-path-url" content="@Model.UrlPath" />
    <meta name="cwps-meta-path-updated" content="@Model.Updated" />
    <meta name="cwps-meta-path-title" content="@Model.Title" />
    <meta name="cwps-meta-author-info" content="@Model.AuthorInfo" />
    <meta name="cwps-meta-user-is-authenticated" content="@User.Identity.IsAuthenticated.ToString().ToLower()" />
    <meta name="cwps-meta-af-value" content="@Antiforgery.GetAndStoreTokens(Context).RequestToken" />
    @Html.Raw(Model.Layout.Head)
    <link rel="stylesheet" href="/lib/ckeditor/ckeditor5-content.css" />
    @*
    Page specific header
    *@
    @Html.Raw(Model.HeadJavaScript)
    @*
    Application Insights Scripts
    *@
    @Html.Raw(JavaScriptSnippet.FullScript)
    <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
</head>
<body>
    @Html.Raw(Model.Layout.HtmlHeader)
    @Html.Raw(Model.Content)
    @Html.Raw(Model.Layout.FooterHtmlContent)
    @Html.Raw(Model.FooterJavaScript)
    <script>
        var ccmsUrlPath = "@Model.UrlPath";
        window.addEventListener("load", () => {
            window.parent.setupIframe();
            // var anchors = document.querySelectorAll("a");
            // anchors.forEach(function (a) {
            //     const url = a.href.toLowerCase();
            //     if (url.startsWith("http:") || url.startsWith("https:")) {
            //             // Possible external URL
            //         a.addEventListener("click", function (event) {
            //             event.preventDefault();
            //             window.parent.location.href = url;
            //         });
            //     } else {
            //         // Internal URL
            //         a.href = "/Home/CcmsContentIndex?target=" + a.href;
            //     }
            // });
        });

        // $(document).ready(function() {
        //     $(document).on('click', function(event) {
        //         event.preventDefault();
        //         var target = $(event.target);
        //         if (target.is('a')) {
        //             alert('You clicked an anchor!');
        //         } else {
        //             alert('You clicked something else.');
        //         }
        //     });
        // });
        // window.addEventListener("click", function (e) {
        //     const target = e.delegateTarget ?? e.target;
        //     if (target.tagName.toLowerCase() === "a") {
        //         e.preventDefault();
        //         parent.closeDropDowns();
        //         const a = e.delegateTarget.activeElement;
        //         const url = a.getAttribute("href").toLowerCase();
        //         if (url.startsWith("http:") || url.startsWith("https:")) {
        //             window.parent.location.href = url;
        //         } else {
        //             // Internal URL
        //             window.location.href = "/Home/CcmsContentIndex?target=" + url;
        //         }
        //     }
        // });

    </script>
</body>
</html>
