@using Cosmos.Cms.Common.Services.Configurations;
@using Cosmos.Cms.Services
@using Microsoft.Extensions.Options;
@inject IOptions<CosmosConfig> options
@model List<ArticleListItem>
@{
    var template = (Template)ViewData["template"];
    ViewData["Title"] = template.Title;

    var publisherUrl = ViewData["PublisherUrl"];
    var isReviewer = User.IsInRole("Reviewers");
    var canEdit = User.IsInRole("Administrators") || User.IsInRole("Editors");
    var canApplyChanges = (bool)ViewData["canApplyChanges"];


    var showNotFoundBtn = (bool)ViewData["ShowNotFoundBtn"];

    var rowCount = (int)ViewData["RowCount"];
    var sortOrder = (string)ViewData["sortOrder"];
    var currentSort = (string)ViewData["currentSort"];
    var pageNumber = (int)ViewData["pageNo"];
    var pageSize = (int)ViewData["pageSize"];
    var filter = (string)ViewData["Filter"];

    var pagerModel = new GridPagerPartialViewModel(pageNumber, rowCount, pageSize, sortOrder, currentSort, "/Editor/Index", filter);
}
<script src="~/js/clipboard.min.js"></script>

<div class="pt-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="text-light">Page list inventory for template:</p>
                <h3 class="text-light">@ViewData["Title"]</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex flex-row">
                <a class="btn btn-sm btn-secondary" asp-action="Index">Template list <i class="fa-solid fa-circle-arrow-right"></i></a>
            </div>
        </div>
        <div class="row cpws-table-pager-row-top">
            <div class="col-md-6">
                @if (canEdit && canApplyChanges)
                {
                    <div class="btn-group" role="group" aria-label="Actions">
                        <a class="btn btn-sm btn-primary" title="Create a new web page" data-bs-toggle='modal' data-bs-target='#updConfModal'>Update all pages </a>
                    </div>
                }
            </div>
            <div class="col-md-6 d-flex justify-content-end">
                <partial name="~/Views/Shared/GridPager/_GridPager.cshtml" model="pagerModel"></partial>
            </div>
        </div>

        <div class="row bg-dark">
            <div class="col-md-12">
                <div class="table-responsive custom-table-responsive">
                    <table class="table custom-table">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Select
                                </th>
                                <th scope="col"><i class="fa-solid fa-house"></i></th>
                                <th scope="col">#</th>
                                <th scope="col">Page</th>
                                <th scope="col">Last Updated</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col">Trash</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var row in Model)
                            {
                                <tr scope="row">
                                    <td scope="row" title="Click to select article '@row.Title.'" onclick="openArticleVersions(@row.ArticleNumber)">
                                        <span class="fa-solid fa-circle-arrow-right"></span>
                                    </td>
                                    <td>
                                        @if (row.UrlPath == "root")
                                        {
                                            <div title='Current home page.' class='btn btn-sm btn-success'><i class="fa-solid fa-house"></i></div>
                                        }
                                    </td>
                                    <td title="Click to select article '@row.Title.'" onclick="openArticleVersions(@row.ArticleNumber)">
                                        @row.ArticleNumber
                                    </td>
                                    <td title="Click to select article '@row.Title.'" onclick="openArticleVersions(@row.ArticleNumber)">
                                        /@row.Title
                                        @if (row.LastPublished.HasValue)
                                        {
                                            <small class="d-block">
                                                <span class="badge badge-primary"> Published: </span><span class='toLocalTimeZone'>@row.LastPublished.Value</span>
                                            </small>
                                        }
                                        else
                                        {
                                            <small class="d-block">
                                                <span class="badge badge-secondary">- DRAFT -</span>
                                            </small>
                                        }
                                        @if (options.Value.SiteSettings.CosmosRequiresAuthentication)
                                        {
                                            <small class="d-block">
                                                @if (row.Permissions.Any())
                                                {
                                                    <a href='/Editor/Permissions/@row.ArticleNumber' title='Set access permissions for users and roles.' id="btnArticleAccess" class='btn btn-sm btn-success'><i class="fa-solid fa-users"></i></a>
                                                    <span>Permissions: @string.Join(", ", row.Permissions)</span>
                                                }
                                                else
                                                {
                                                    <a href='/Editor/Permissions/@row.ArticleNumber' title='Set access permissions for users and roles.' id="btnArticleAccess" class='btn btn-sm btn-danger'><i class="fa-solid fa-users"></i></a>
                                                }
                                            </small>
                                        }
                                    </td>
                                    <td title="Click to select article '@row.Title.'" onclick="openArticleVersions(@row.ArticleNumber)">
                                        <div class='toLocalTimeZone'>@row.Updated</div>
                                    </td>
                                    <td>
                                        @if (row.LastPublished.HasValue && canEdit && row.IsDefault == false)
                                        {
                                            <button onclick="unpublish(@row.ArticleNumber)" title="Unpublishes a this item, and makes it no longer accessible except for editing." class="btn btn-sm btn-secondary">Unpublish</button>
                                        }
                                    </td>
                                    <td>
                                        <a class="btn btn-sm btn-secondary" title="Create a clone of this page" asp-action="Clone" asp-route-id="@row.ArticleNumber"><i class="fa-solid fa-copy"></i> Clone</a>
                                    </td>
                                    <td>
                                        @if (canEdit && canApplyChanges)
                                        {
                                            <a class='btn btn-sm btn-secondary' asp-action="UpdatePage" asp-route-id="@row.ArticleNumber" asp-route-templateId="@template.Id" title="Update this page with the latest template version and open page in live editor."><i class="fa-solid fa-file-export"></i></a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row cpws-table-pager-row-bottom">
            <div class="col-md-12 d-flex justify-content-center">
                <partial name="~/Views/Shared/GridPager/_GridPager.cshtml" model="pagerModel"></partial>
            </div>
        </div>
    </div>
</div>
<form>
    <input id="selected" type="hidden" />
</form>

<!-- Modal -->
<div class="modal fade" id="updConfModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-bg-dark mt-5">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm Update?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>WARNING!</h5>
                <p>You are about to update all pages that use this template. <i>This may result in loss of content.</i></p>
                <p>Tip: Update a single page first to ensure changes will be OK before updating all pages.</p>
                <h5>IMPORTANT!</h5>
                <p>Please wait for this to be finished. This may take several minutes if many pages need to be updated.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-bs-target='#runningModal' onclick="updateAll()">Confirm</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="runningModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-bg-dark mt-5">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Applying Update</h5>
            </div>
            <div class="modal-body">
                <h5>Working...</h5>
                <p>The template update is being applied. This may take several minutes. Please wait until finished before closing this window.</p>
            </div>
        </div>
    </div>
</div>

<script>

    var canEdit = @canEdit.ToString().ToLower();
    var clipboard = new ClipboardJS('.clipboard');
    clipboard.on('success',
        function (e) {
            console.info('Action:', e.action);
            console.info('Text:', e.text);
            console.info('Trigger:', e.trigger);
            alert("Copied: " + e.text);
            e.clearSelection();
        });

    var articleNumber;
    var articleTitle;

    function selectArticle(articleNo, title) {
        articleNumber = articleNo;
        $("#articleTitle").html("&quot;" + title + "&quot;");
        return true;
    }

    function updateAll() {
        const myModalEl = document.getElementById('updConfModal');
        const modal = bootstrap.Modal.getInstance(myModalEl);
        modal.hide();
        const runningModal = document.getElementById('runningModal');
        const rmodal = bootstrap.Modal.getInstance(runningModal);
        rmodal.show();
        window.location.href = "@Url.Action("UpdateAll", "Templates", new { id = template.Id })";
    }

    function openArticleVersions(id) {
        window.location.href = "@Url.Action("Versions", "Editor")/" + id;
    }

    function unpublish(articleNumber) {
        $.get("@Url.Action("UnpublishPage", "Editor")/" + articleNumber, function (data) {
            window.location.reload(true);
        });
    }

    $(document).ready(function () {

        $("body").addClass("cwps-editor-container");

        $(".toLocalTimeZone").each(function (index, element) {
            $(element).html(getLocalTime($(element).html()));
        });

    });


</script>

