@page
@using Cosmos.Cms.Common.Services.Configurations
@using Microsoft.Extensions.Options
@inject IOptions<CosmosConfig> options
@model RegisterModel
@{
    ViewData["Title"] = "Create Account";
    Html.ViewContext.ViewBag.BrowserTitle = "Create Your Account";
    var showLogin = (bool)ViewData["ShowLogin"];
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-10">
            <div class="card bg-secondary text-light">
                <div class="card-header">
                    <h4 class=" text-center">Create Your Account</h4>
                </div>
                <div class="card-body">
                    <section>
                        @if (showLogin)
                        {

                            <p class="card-text text-center mb-3">Already have an account? <a class="btn btn-sm btn-dark" asp-area="Identity" asp-page="/Account/Login">Login</a></p>
                        }
                        else
                        {

                            <p class="card-text text-center mb-3">Create the Administrator Account</p>
                        }
                    </section>
                    <section>
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div class="d-grid gap-3 mb-3">
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    @if (provider.Name == "Facebook")
                                    {
                                        <button type="submit" class="btn btn-dark" name="provider" value="@provider.Name" title="Create account using  @provider.DisplayName account">
                                            <img height="35" alt="Facebook Login Icon" src="~/lib/images/facebook.png" /> Create account using @provider.DisplayName
                                        </button>
                                    }
                                    else if (provider.Name == "Google")
                                    {
                                        <button type="submit" class="btn btn btn-dark" name="provider" value="@provider.Name" title="Create account using  @provider.DisplayName account">
                                            <img height="35" alt="Google Login Icon" src="~/lib/images/img_login_google2.2x.png" /> Create account using @provider.DisplayName
                                        </button>
                                    }
                                    else if (provider.Name == "Microsoft" || provider.Name == "OpenIdConnect")
                                    {
                                        <button type="submit" class="btn btn btn-dark" name="provider" value="@provider.Name" title="Create account using  @provider.DisplayName account">
                                            <img height="35" alt="Microsoft Login Icon" src="~/lib/images/img_login_microsoft2.2x.png" /> Create account using @provider.DisplayName
                                        </button>
                                    }
                                }
                            </div>
                        </form>
                    </section>
                    @if (options.Value.SiteSettings.AllowLocalAccounts)
                    {
                        <div>
                            @if (Model.ExternalLogins?.Count > 0)
                            {
                                <hr />
                                <h5 class="card-title text-center">Or continue below:</h5>
                            }
                        </div>
                        <section>
                            <div asp-validation-summary="All" class="badge badge-primary"></div>
                            <form id="frmReg" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                <div class="form-group">
                                    <label asp-for="Input.Email"></label>
                                    <input asp-for="Input.Email" class="form-control" />
                                    <span asp-validation-for="Input.Email" class="badge badge-primary"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.Password"></label>
                                    <input asp-for="Input.Password" class="form-control" />
                                    <span asp-validation-for="Input.Password" class="badge badge-primary"></span>
                                </div>
                                <div class="form-group mb-4">
                                    <label asp-for="Input.ConfirmPassword"></label>
                                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="badge badge-primary"></span>
                                </div>
                                <div class="form-check mb-4">
                                    @Html.HiddenFor(m => m.Input.AgreeToTerms)
                                    <input class="form-check-input" type="checkbox" value="true" id="chkTerms">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Check here to indicate you have read and agree to our <a target="_blank" href="https://www.cosmosws.io/Terms">Terms of Service</a> and
                                        <a target="_blank" href="https://www.cosmosws.io/User_Guidelines">User Guidelines</a>.
                                    </label>
                                    <span id="msgPleaseCheck" class="badge badge-warning" style="display:none">Please check before continuing.</span>
                                </div>
                                <button type="submit" class="btn btn-dark">Create account</button>
                            </form>
                        </section>
                    }
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
    $(document).ready(function () {
        $("#frmReg").submit(function (e) {
            if ($('#chkTerms').is(':checked')) {
                $("#frmReg").submit();
            } else {
                e.preventDefault();
                $("#msgPleaseCheck").show();
            }
        });

        $("#chkTerms").click(function () {
            if ($('#chkTerms').is(':checked')) {
                $('#Input_AgreeToTerms').val("true");
                $("#msgPleaseCheck").hide();
            } else {
                $('#Input_AgreeToTerms').val("false");
                $("#msgPleaseCheck").show();
            }
        });
    });
</script>
