@using Cosmos.Editor.Models;
@using Microsoft.AspNetCore.Identity;
@model List<ArticlePermisionItem>
@inject UserManager<IdentityUser> _userManager
@inject RoleManager<IdentityRole> _userManager

@{

    var rowCount = (int)ViewData["RowCount"];
    var sortOrder = (string)ViewData["sortOrder"];
    var currentSort = (string)ViewData["currentSort"];
    var pageNumber = (int)ViewData["pageNo"];
    var pageSize = (int)ViewData["pageSize"];
    var filter = (string)ViewData["Filter"];
    var showingRoles = (bool)ViewData["showingRoles"];
    var articlePermissions = (List<ArticlePermission>)ViewData["ArticlePermissions"];
    var articleNumber = (int)ViewData["ArticleNumber"];

    var allowedUsers = (List<IdentityUser>)ViewData["AllowedUsers"];
    var allowedRoles = (List<IdentityRole>)ViewData["AllowedRoles"];
    var ids = showingRoles ? allowedRoles.Select(s => s.Id).ToArray() : allowedUsers.Select(s => s.Id).ToArray();

    var pagerModel = new GridPagerPartialViewModel(pageNumber, rowCount, pageSize, sortOrder, currentSort, "/Editor/Permissions");

}
<style>
    .fa-shield {
        padding-right: 4px;
    }
</style>

<div class="pt-3 text-light">
    <div class="container">
        <div class="row">
            <div class="col-6">
                @if (showingRoles)
                {
                    <h5>Selecting which <span class="badge bg-secondary">user groups</span> can access:</h5>
                }
                else
                {
                    <h5>Selecting which <span class="badge bg-secondary">users</span> can access:</h5>
                }
                <h2 class=" mb-3">&quot;@ViewData["Title"]&quot;</h2>
                <a id="btnUserCount" title="Click to switch to individual users." class="btn btn-sm btn-secondary" href="@Url.Action("Permissions", "Editor", new { Id = articleNumber })?forRoles=false">
                    Users selected: <span id="userCount" class="badge bg-light text-dark">0</span>
                </a>
                <a id="btnGroupCount" title="Click to switch to user groups." class="btn btn-sm btn-secondary" href="@Url.Action("Permissions", "Editor", new { Id = articleNumber })?forRoles=true">
                    Groups selected: <span id="groupCount" class="badge bg-light text-dark">0</span>
                </a>

                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <button id="btnSavePermissions" class="btn btn-sm btn-secondary" title="Save permissions." disabled>Save Changes</button>
                <button id="btnCancel" class="btn btn-sm btn-secondary" title="Clear all access settings.">Cancel Changes</button>
                <button id="btnClearPermissions" class="btn btn-sm btn-secondary" title="Clear all access settings.">Clear</button>
                @if (showingRoles)
                {
                    <a title="Switch to individual users." href="@Url.Action("Permissions", "Editor", new { Id = articleNumber })?forRoles=false" class="btn btn-sm btn-primary" style="min-width:100px;">Switch to users <i class="fa-solid fa-circle-arrow-right"></i></a>
                }
                else
                {
                    <a title="Switch to user groups." href="@Url.Action("Permissions", "Editor", new { Id = articleNumber })?forRoles=true" class="btn btn-sm btn-primary" style="min-width:100px;">Switch to groups <i class="fa-solid fa-circle-arrow-right"></i></a>
                }
            </div>
            <div class="col-md-6 d-flex flex-row-reverse mb-3">
                <a id="btnGoPageList" title="Return to page list" class="btn btn-sm btn-secondary">Go back <i class="fa-solid fa-circle-arrow-right"></i></a>
                <a id="btnGoVersions" title="Return to page list" class="btn btn-sm btn-secondary" href="@Url.Action("Versions", "Editor", new { Id = articleNumber })">Version list <i class="fa-solid fa-circle-arrow-right"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row cpws-table-pager-row-top">
                    <div class="col-4">
                    </div>
                    <div class="col-4 justify-content-center">
                        <partial name="~/Views/Shared/GridPager/_GridPager.cshtml" model="pagerModel"></partial>
                    </div>
                    <div class="col-4 d-flex justify-content-end">
                    </div>
                </div>
                <div class="row">
                    <div class="col bg-dark">
                        <div class="table-responsive custom-table-responsive">
                            <table class="table custom-table">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            Select
                                        </th>
                                        <th scope="col">
                                            @(showingRoles ? "User Group Name" : "User Email Address")
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var row in Model)
                                    {
                                        <tr scope="row" class="row-click-ckbox">
                                            <td scope="row" style="min-width:80px;">
                                                <div class="form-check">
                                                    <input class="form-check-input gridCheckBox" data-ccms-idenid='@row.IdentityObjectId' type="checkbox">
                                                    <label class="form-check-label">
                                                        Select
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <b>@row.Name</b>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row cpws-table-pager-row-bottom">
                    <div class="col-4">
                    </div>
                    <div class="col-4 justify-content-center">
                        <partial name="~/Views/Shared/GridPager/_GridPager.cshtml" model="pagerModel"></partial>
                    </div>
                    <div class="col-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form id="frmUserIds" asp-action="Index" asp-controller="Roles" method="post">
    @Html.AntiForgeryToken()
    <input id="identityObjectIds" name="identityObjectIds" type="hidden" />
</form>
<div class="modal" id="modalSaving" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Saving...</h5>
            </div>
            <div class="modal-body">
                <p>Permissions are being saved...</p>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<script>

    let selectedUserIds = [];
    let selectedRoleIds = [];
    const origUserIds = [@(Html.Raw(string.Join(",", articlePermissions.Where(w => w.IsRoleObject == false).Select(s => "'" + s.IdentityObjectId + "'").ToArray())))];
    const origRoleIds = [@(Html.Raw(string.Join(",", articlePermissions.Where(w => w.IsRoleObject == true).Select(s => "'" + s.IdentityObjectId + "'").ToArray())))];


    function checkForChanges() {

        $("#btnSavePermissions").removeClass("btn-primary");
        $("#btnSavePermissions").removeClass("btn-secondary");
        $("#btnCancel").removeClass("btn-primary");
        $("#btnCancel").removeClass("btn-secondary");
        if (
            $(origUserIds).not(selectedUserIds).length === 0 &&
            $(selectedUserIds).not(origUserIds).length === 0 &&
            $(origRoleIds).not(selectedRoleIds).length === 0 &&
            $(selectedRoleIds).not(origRoleIds).length === 0
        ) {
            $("#btnSavePermissions").addClass("btn-secondary");
            $("#btnCancel").addClass("btn-secondary");
            $("#btnSavePermissions").attr("disabled");

        } else {
            $("#btnSavePermissions").addClass("btn-primary");
            $("#btnCancel").addClass("btn-primary");
            $("#btnSavePermissions").removeAttr("disabled");
        }
    }

    const showingRoles = @showingRoles.ToString().ToLower();

    const modalSaving = new bootstrap.Modal(document.getElementById('modalSaving'));

    $(document).ready(function () {
        reloadIdentityObjectIds();
        checkForChanges();
        refreshCounts();
        resetCheckBoxes();

        // ccmsNavMenu
        $("body").addClass("cwps-body");
        $("body").addClass("cwps-editor-container");

        // Disable certain buttons if this is in an IFRAME.
        if (typeof (parent.hasPermissionsSet) !== "undefined") {
            $("#btnGoPageList").hide();
            $("#btnGoVersions").hide();
        } else {
            $("#btnGoPageList").click(function () {
                history.back();
            });
        }


        $(".row-click-ckbox").click(function (e) {
            if (e.target.type != 'checkbox' && e.target.tagName != 'A') {
                var cb = $(this).find("input[type=checkbox]");
                cb.trigger('click');
            }
        });

        $(".gridCheckBox").each(function (index, element) {
            $(element).on("change", function () {

                let id = getIdFromChkBox(element); id

                let isChecked = $(element).prop('checked');

                if (isChecked) {
                    saveIdentityObjectId(id);
                } else {
                    removeIdentityObjectId(id);
                }

                cwpsSelectTableRow(element, isChecked);

                checkForChanges();
                refreshCounts()

            });
        });

        $("#btnSavePermissions").click(function (e) {
            e.preventDefault();
            savePermissions();
        });

        /**
         * Clears all selected users and roles. This is NOT the same as cancel changes.
         */
        $("#btnClearPermissions").click(function (e) {
            e.preventDefault();
            clearIdentityObjectIds();
            // Uncheck everything!
            $(".gridCheckBox").each(function (index, element) {
                $(element).prop('checked', false);
                cwpsSelectTableRow(element, false);
            });
            checkForChanges();
        });

        /**
         * This cancels the current changes, and reverts back to what the settings were before.
         */
        $("#btnCancel").click(function (e) {
            e.preventDefault();
            clearIdentityObjectIds();
            reloadIdentityObjectIds();
            checkForChanges();
            refreshCounts();
            resetCheckBoxes();
        });
    });

    function resetCheckBoxes() {
        $(".gridCheckBox").each(function (index, element) {
            // Reload IDs from session storage if present, or from the server.
            const ids = selectedUserIds.concat(selectedRoleIds);
            if ((ids.indexOf(getIdFromChkBox(element)) > -1)) {
                $(element).prop('checked', true);
                cwpsSelectTableRow(element, true);
            } else {
                $(element).prop('checked', false);
                cwpsSelectTableRow(element, false);
            }
        });
    }

    function savePermissions() {

        modalSaving.show();
        const identityObjectIds = selectedUserIds.concat(selectedRoleIds);
        var model = {
            Id: @articleNumber,
            IdentityObjectIds: identityObjectIds
        }

        $.post("@Url.Action("Permissions", "Editor")", model, function (data) {
            clearIdentityObjectIds();
            checkForChanges();
            window.location.href = "@Url.Action("Permissions", "Editor", new { Id = articleNumber})";

            // If applicable, let the parent know what happened.
            try {
                if (typeof (parent.hasPermissionsSet) !== "undefined") {
                    if (identityObjectIds == null || identityObjectIds.length < 1) {
                        parent.hasPermissionsSet = false;
                    } else {
                        parent.hasPermissionsSet = true;
                    }
                    parent.checkForSetPermissions();
                }
            } catch { }
            modalSaving.hide();
        }).fail(function (data) { modalSaving.hide(); alert(data); });

    }

    function saveIdentityObjectId(userId) {
        // Avoid duplications
        if (showingRoles) {
            if (selectedRoleIds.indexOf(userId) == -1) {
                selectedRoleIds.push(userId);
            }
            sessionStorage.setItem("selectedRoleIds", JSON.stringify(selectedRoleIds));
        } else {
            if (selectedUserIds.indexOf(userId) == -1) {
                selectedUserIds.push(userId);
            }
            sessionStorage.setItem("selectedUserIds", JSON.stringify(selectedUserIds));
        }
        refreshCounts();
        checkForChanges();
    }

    function removeIdentityObjectId(id) {
        if (showingRoles) {
            var tmp = selectedRoleIds.filter(function (value) {
                return value !== id
            });
            selectedRoleIds = tmp;
            sessionStorage.setItem("selectedRoleIds", JSON.stringify(selectedRoleIds));
        } else {
            var tmp = selectedUserIds.filter(function (value) {
                return value !== id
            });
            selectedUserIds = tmp;
            sessionStorage.setItem("selectedUserIds", JSON.stringify(selectedUserIds));
        }
        refreshCounts();
        checkForChanges();
    }

    function retrieveSelectedIds() {
        if (showingRoles) {
            return selectedRoleIds;
        } else {
            return selectedUserIds;
        }
    }

    function refreshCounts() {
        // Reset button color
        $("#btnUserCount").removeClass("btn-primary");
        $("#btnUserCount").removeClass("btn-secondary");
        $("#btnGroupCount").removeClass("btn-primary");
        $("#btnGroupCount").removeClass("btn-secondary");
        // Update counts
        $("#userCount").html(selectedUserIds.length);
        $("#groupCount").html(selectedRoleIds.length);
        // Set button color
        if (selectedUserIds.length > 0) {
            $("#btnUserCount").addClass("btn-primary");
        } else {
            $("#btnUserCount").addClass("btn-secondary");
        }
        if (selectedRoleIds.length > 0) {
            $("#btnGroupCount").addClass("btn-primary");
        } else {
            $("#btnGroupCount").addClass("btn-secondary");
        }
    }

    /**
     * Reloads the variables selectedRoleIds and selectedUserIds
     * from web browser sessionStorage. If storage is empty, reloads what is selected
     * server-side.
     */
    function reloadIdentityObjectIds() {
        // Reload roles
        const roles = sessionStorage.getItem("selectedRoleIds");
        if (typeof (roles) === "undefined" || roles === null || roles === "") {
            selectedRoleIds = [@(Html.Raw(string.Join(",", articlePermissions.Where(w => w.IsRoleObject == true).Select(s => "'" + s.IdentityObjectId + "'").ToArray())))];
        } else {
            selectedRoleIds = JSON.parse(roles);
        }

        // Reload users
        const users = sessionStorage.getItem("selectedUserIds");
        if (typeof (users) === "undefined" || users === null || users === "") {
            selectedUserIds = [@(Html.Raw(string.Join(",", articlePermissions.Where(w => w.IsRoleObject == false).Select(s => "'" + s.IdentityObjectId + "'").ToArray())))];
        } else {
            selectedUserIds = JSON.parse(users);
        }
    }

    function clearIdentityObjectIds() {
        selectedUserIds = [];
        selectedRoleIds = [];
        sessionStorage.removeItem("selectedUserIds");
        sessionStorage.removeItem("selectedRoleIds");
    }

    function getIdFromChkBox(checkbox) {
        return $(checkbox).attr("data-ccms-idenid");
    }

    function resetButtons() {
        // Get the array length
        let arrayLength = selectedUserIds.length + selectedRoleIds.length;
        if (arrayLength > 0) {
            $("#btnClearUsers").show();
            $("#btnDeleteUsers").show();
            $("#btnAddRemoveRoles").hide();
        } else {
            $("#btnClearUsers").hide();
            $("#btnDeleteUsers").hide();
            $("#btnAddRemoveRoles").hide();
        }
    }

</script>
