@using Newtonsoft.Json
@model Cosmos.Editor.Models.GrapesJs.DesignerConfig
@{
    Layout = "_LayoutEditor";
    ViewData["Title"] = Model.Title;
}

<form id="frmSave" asp-action="DesignerData" asp-controller="Templates">
    <input type="hidden" id="Id" name="Id" value="@Model.Id" />
    <input type="hidden" id="Title" name="Title" value="@Model.Title" />
    <input type="hidden" id="HtmlContent" name="HtmlContent" />
    <input type="hidden" id="CssContent" name="CssContent" />
</form>

<style>
    .gjs-dashed {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
</style>

<script>
    /*
      Cosmos Configuration.
    */
    var ccmsEditorIsLocked = false;
    // Current user
    const ccms_editor_userid = "@this.Context.User.Identity.Name";
    const hasModel = @((Model != null).ToString().ToLower());
    // This needs global scope, so using var
    var hasPermissionsSet = false;

    async function saveChanges() {
        // Activated from _LayoutEditor.cshtml in multiple locations;
        await editor.store();
    }

    $("#frmSave").submit(function(event) {
        event.preventDefault(); // Prevents the default form submission
        saveChanges();
    });

    $(document).ready(function () {

        $('#modalChgTitleHeader').html("Change Template Name");
        $('#lblCurrentTitle').html("Current name:");
        $('#lblNewTitle').html("New name:");

        $('#tbPublished').prop("disabled", "true");

        $("#btnSaveAsDraft").hide();
        $("#btnOpenInsertImage").hide();
        $("#btnCcmsCodeEditor").show();

        $("#liInsert").show();
        $("#divTitleGroup").show();
        $("#divTitle").html("@Model.Title");
        $("#Title").val("@Model.Title");

        // Alter the default action of the save changes button
        // located on _LayoutEditor.cshtml.
        $("#modalBtnSaveFirst").on("click", function () {
            saveChanges();
        });

        if (hasModel && isReviewer === false && isAuthor === false && requiresAuthentication) {
            $(".perm").show();
        }

    });

    $(document).on("unload", function () {
        // Close filemanager window if opened
        if (typeof fileMgrPopup !== "undefined" && fileMgrPopup !== null && fileMgrPopup.location) {
            fileMgrPopup.close();
        }
    });

    /*

        GrapesJS Editor (Designer) Configuration

    */
    const cosmos__id = '@Model.Id';

    const cosmos__designerAssetsEndPoint = "/pub";
    const cosmos__designerAssetsExclude = "/pub/articles";
    const cosmos__designerDataEndpoint = "/Layouts/DesignerData";
    const cosmos__designerPostEndpoint = "/Layouts/DesignerData";
    const cosmos__designerUploadEndpoint = "/FileManager/SimpleUpload?id=" + cosmos__id + "&entityType=templates&editorType=grapesjs";

    let grapesjs__canvas__styles = @Html.Raw(JsonConvert.SerializeObject(Model.Styles));
    let grapesjs__canvas__scripts = @Html.Raw(JsonConvert.SerializeObject(Model.Scripts));
    //let grapesjs__assets = preloadImages();
</script>

<partial name="_GrapesJsEditor" model="Model" />