@using Microsoft.AspNetCore.Components
@model Cosmos.Common.Models.ArticleViewModel
@{
    Layout = null;
    ViewData["Title"] = Model.Title;

    var data = new ImportMapDefinition(
        new Dictionary<string, string>()
                {
            { "ckeditor5", "/lib/ckeditor/ckeditor5.js" },
            { "ckeditor5/", "/lib/ckeditor/" },

            { "filelink", "/lib/cosmos/ckeditor/filelink/filelink.js" },
            { "filelink/", "/lib/cosmos/ckeditor/filelink/" },

            { "insertimage", "/lib/cosmos/ckeditor/insertimage/insertimage.js" },
            { "insertimage/", "/lib/cosmos/ckeditor/insertimage/" },

            { "pagelink", "/lib/cosmos/ckeditor/pagelink/pagelink.js" },
            { "pagelink/", "/lib/cosmos/ckeditor/pagelink/" },

            { "signalr", "/lib/cosmos/ckeditor/signalr/signalr.js" },
            { "signalr/", "/lib/cosmos/ckeditor/signalr/" },

            { "vscodeeditor", "/lib/cosmos/ckeditor/vscodeeditor/vscodeeditor.js" },
            { "vscodeeditor/", "/lib/cosmos/ckeditor/vscodeeditor/" },
                },
        null,
        null);
}
<!DOCTYPE HTML>
<html lang="@Model.LanguageCode">
<head>
    <title>@Model.Title</title>
    <meta name="cwps-meta-path-title" content="@Model.Title" />
    <meta name="cwps-meta-path-url" content="@Model.UrlPath" />
    <meta name="cwps-meta-path-updated" content="@Model.Updated" />
    <style>
        figure.media {
            width: 640px;
        }

        .ck.ck-block-toolbar-button {
            transform: translateX( 30px ) translateY( -80px ) !important;
            background-color: white !important;
            border: 3px solid blue !important;
        }

    </style>
    @Html.Raw(Model.Layout.Head)
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/44.1.0/ckeditor5.css" />
    @Html.Raw(Model.HeadJavaScript)
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    @Html.Raw(Model.Layout.HtmlHeader)
    <div ccms-content-id="@Model.Id">
        @Html.Raw(Model.Content)
    </div>
    @Html.Raw(Model.Layout.FooterHtmlContent)
    @Html.Raw(Model.FooterJavaScript)
    @Html.AntiForgeryToken()
    <script type="importmap" asp-importmap="@data">
    </script>
    <link href="~/lib/cropperjs/cropper.min.css" rel="stylesheet" asp-append-version="true" />
    <script src="~/lib/cropperjs/cropper.min.js" asp-append-version="true"></script>

    <script>

        // Create editors
        var ccms_editors = [];
        var ccms_editorIds = [];
        var focusedEditor;
        var unmoutCkBox;
        var articleNumber = @Model.ArticleNumber;
        let autosaveTimeout = null;

        window.addEventListener("click", function () {
            parent.closeDropDowns();
        });

        window.addEventListener("keydown", (event) => {
            if (event.isComposing || event.keyCode === 229) {
                return;
            }

            // Handle CTRL-S to save changes
            if (event.ctrlKey || event.metaKey) {
                switch (String.fromCharCode(event.which).toLowerCase()) {
                    case 's':
                        event.preventDefault();

                        parent.saving();

                        if (editor === null) {
                            parent.saveChanges();
                        } else {
                            parent.saveChanges(editor.getData(), editor.sourceElement.getAttribute("data-ccms-ceid"));
                        }
                        break;
                }
            }
        });


    </script>

    <script src="@Html.Raw("https://unpkg.com/@popperjs/core@2")"></script>
    <script src="@Html.Raw("https://unpkg.com/tippy.js@6")"></script>

    <script type="module" src="~/lib/cosmos/ckeditor/main.js" asp-append-version="true"></script>
    
    <script>
        const elements = document.querySelectorAll('[data-ccms-ceid]');
        elements.forEach(function (el, index) {
            el.setAttribute("data-tippy-content", "Editable.")
        });

        // NodeList
        let __cwps__toolTips = tippy(elements, {
            placement: "right-start",
            inlinePositioning: true,
        }); //data-ccms-ceid
    </script>
</body>
</html>