@page
@using Cosmos.Cms.Common.Services.Configurations
@using Cosmos.DynamicConfig
@using Microsoft.Extensions.Options
@inject IOptions<CosmosConfig> options
@model LoginModel
@{
    ViewData["Title"] = "Log in";
    var totpSent = (bool?)ViewData["TOTP_Sent"] ?? false;
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-10">
            @if (totpSent)
            {
                <div class="card bg-secondary text-light">
                    <div class="card-header">
                        <h4 class="card-title text-center">
                            Login Link Sent.
                        </h4>
                    </div>
                    <div class="card-body">
                        <section>
                            <p class="card-text mb-3">
                                A login link has been sent to your email address.
                            </p>
                            <p class="card-text mb-3">
                                Please note:
                            </p>
                            <ul>
                                <li>Check your junk or spam folder if you did not receive the email.</li>
                                <li>The link is valid for 20 minutes and can only be used once.</li>
                            </ul>
                        </section>
                    </div>
                </div>
            }
            else
            {
                <div class="card bg-secondary text-light">
                    <div class="card-header">
                        <h4 class="card-title text-center">
                            Login to your account
                        </h4>
                    </div>
                    <div class="card-body">
                        <section>
                            <p class="card-text text-center mb-3">
                                Do you need an account? <a asp-page="./Register" class="btn btn-sm btn-dark" asp-route-returnUrl="@Model.ReturnUrl">Create Account</a>
                            </p>
                        </section>
                        @if (options.Value.SiteSettings.AllowLocalAccounts)
                        {
                            <section>
                                <form id="account" method="post" asp-antiforgery="true">
                                    <span asp-validation-summary="All" class="badge text-bg-danger"></span>
                                    <input type="hidden" id="Input_NeedsCookieSet" name="Input_NeedsCookieSet" value="false" />
                                    <input type="hidden" asp-for="Input.UseTotp" />
                                    <div class="form-group mb-3">
                                        <label asp-for="Input.Email"></label>
                                        <input asp-for="Input.Email" class="form-control" />
                                        <span asp-validation-for="Input.Email" class="badge text-bg-danger"></span>
                                        <a id="resend-confirmation" class="text-light" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                                    </div>
                                    <div>
                                        @if (Model.ExternalLogins?.Count > 0)
                                        {
                                            <hr />
                                            <h5 class="card-title text-center">Login with password or choose an option below.</h5>
                                        }
                                    </div>
                                    <div id="passwordGroup" class="form-group mb-3">
                                        <label asp-for="Input.Password"></label>
                                        <input asp-for="Input.Password" class="form-control" />
                                        <span asp-validation-for="Input.Password" class="badge text-bg-danger"></span>
                                        <a id="forgot-password" class="text-light" asp-page="./ForgotPassword">Forgot your password?</a>
                                    </div>
                                    <div class="form-group mb-3">
                                        <div class="checkbox" style="display:none">
                                            <label asp-for="Input.RememberMe">
                                                <input asp-for="Input.RememberMe" />
                                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-dark me-1">Log in with password</button>
                                       @*  or
                                        <button id="btnLoginLink" type="button" class="btn btn-dark ms-1">Send login link via Email <i class="fa-solid fa-circle-arrow-right"></i></button> *@
                                    </div>
                                </form>
                            </section>
                        }
                        <section>
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" asp-route-emailAddr="@Model.Input.Email" method="post" class="form-horizontal">
                                <div class="d-grid gap-3 mb-3">
                                    @if (Model.ExternalLogins != null)
                                    {
                                        @foreach (var provider in Model.ExternalLogins)
                                        {
                                            @if (provider.Name == "Facebook")
                                            {
                                                <button type="submit" class="btn btn-outline-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                                    <img height="35" alt="Facebook Login Icon" src="~/lib/images/facebook.png" /> Login using @provider.DisplayName
                                                </button>
                                            }
                                            else if (provider.Name == "Google")
                                            {
                                                <button type="submit" class="btn btn-dark" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                                    <img height="35" alt="Google Login Icon" src="~/lib/images/img_login_google2.2x.png" /> Login using @provider.DisplayName
                                                </button>
                                            }
                                            else if (provider.Name == "Microsoft")
                                            {
                                                <button type="submit" class="btn btn-dark" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                                    <img height="35" alt="Microsoft Login Icon" src="~/lib/images/img_login_microsoft2.2x.png" /> Login using @provider.DisplayName
                                                </button>
                                            }
                                        }
                                    }
                                </div>
                            </form>
                        </section>
                    </div>
                </div>
            }
        </div>
    </div>

    <script>

        $(document).ready(function () {

            $("#resend-confirmation").click(function (e) {
                e.preventDefault();
                const url = $(this).attr("href");
                $.get(url, function (data) {
                    alert(data);
                });
            });

            $("#account").submit(function (e) {
                e.preventDefault(); // Prevent default form action.

                const email = $("#Input_Email").val();
                const websiteDomainName = $("#Input_WebsiteDomainName").val();

                if (!email) {
                    alert("Please enter your email address.");
                    return;
                }

                this.submit(); // Allow form to proceed.
            });

            $("#btnLoginLink").click(function (e) {
                e.preventDefault();
                $("#Input_NeedsCookieSet").val("false");
                $("#Input_UseTotp").val("true");
                $("#Input_Password").val("1234567Abcdefg!"); // Password not used for TOTP but still must be preset for validation.

                const websiteDomainName = $("#Input_WebsiteDomainName").val();

                // Set the action here
                const actionUrl = '@Url.Page("./Login", new { ReturnUrl = Model.ReturnUrl })';
                $("#account").attr("action", actionUrl);

                $("#account").submit();
            });
        });
    </script>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}