@model Cosmos.DynamicConfig.Connection

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Connection</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DomainName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DomainName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DbConn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DbConn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DbName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DbName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StorageConn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StorageConn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WebsiteUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WebsiteUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
