@using Sky.Editor.Controllers
@using Cosmos.Editor.Services
@model CdnService

@{
    ViewData["Title"] = "Editor Setup";
    var testResult = (CdnResult)ViewData["Operation"];

    var openTop = string.IsNullOrEmpty(Model.EndPointName)
                  && string.IsNullOrEmpty(Model.ResourceGroup)
                  && !Model.SubscriptionId.HasValue
                  && string.IsNullOrEmpty(Model.ProfileName) ? "" : "show";
    var openBottom = string.IsNullOrEmpty(Model.SucuriApiKey)
                  && string.IsNullOrEmpty(Model.SucuriApiSecret) ? "" : "show";
}
<style>
    .text-danger {
        color: white !important;
        font-style: italic !important;
        font-weight: bold !important;
    }

    .accordion-button:not(.collapsed) {
        background-color: #dadada !important;
        color: black !important;
    }
</style>
<div class="pt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card pb-4 bg-dark text-light">
                <div class="card-header">
                    <h3 class="card-title">@ViewData["Title"]</h3>
                    <p>For help in setting up CDN integration, see our <a class="text-light" href="https://cosmos.moonrise.net/cdn_setup">documentation</a>.</p>
                    <a class="btn btn-sm btn-primary" asp-action="Index" asp-controller="Cosmos___Settings">Settings <i class="fa-solid fa-circle-arrow-right"></i></a>
                </div>
                <div class="card-body">
                    <form id="registerForm" method="post" asp-action="CDN" asp-controller="Cosmos___Settings">
                        <h2>Configuration Settings</h2>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="accordion bg-secondary text-light mb-5" id="frmAccordian" data-bs-theme="dark">
                            <div class="accordion-item  bg-secondary text-light " data-bs-theme="dark">
                                <h2 class="accordion-header bg-secondary text-light">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Microsoft CDN/Front Door
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse @openTop">
                                    <div class="accordion-body bg-secondary text-light ">

                                        <div class="mb-3 form-check">
                                            <input class="form-check-input" asp-for="IsFrontDoor" type="checkbox" class="form-check-input" />
                                            <label asp-for="IsFrontDoor" class="form-check-label"></label> (Check if this is Azure Front Door.)
                                            <span asp-validation-for="IsFrontDoor" class="text-danger"></span>
                                        </div>

                                        <div class="mb-3">
                                            <label asp-for="SubscriptionId"></label>
                                            <input asp-for="SubscriptionId" class="form-control" aria-required="true" />
                                            <span asp-validation-for="SubscriptionId" class="text-danger"></span>
                                        </div>

                                        <div class="mb-3">
                                            <label asp-for="ResourceGroup"></label>
                                            <input class="form-control" asp-for="ResourceGroup" aria-required="true" />
                                            <span asp-validation-for="ResourceGroup" class="text-danger"></span>
                                            <span class="text-muted">This is the resource group name where CDN or Front Door is installed.</span>
                                        </div>

                                        <div class="mb-3">
                                            <label asp-for="ProfileName"></label>
                                            <input class="form-control" asp-for="ProfileName" aria-required="true" />
                                            <span asp-validation-for="ProfileName" class="text-danger"></span>
                                        </div>

                                        <div class="mb-3">
                                            <label asp-for="EndPointName"></label>
                                            <input class="form-control" asp-for="EndPointName" aria-required="true" />
                                            <span asp-validation-for="EndPointName" class="text-danger"></span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Surcuri Firewall/CDN
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse @openBottom">
                                    <div class="accordion-body bg-secondary text-light">

                                        <div class="mb-3">
                                            <label asp-for="SucuriApiKey"></label>
                                            <input class="form-control" asp-for="SucuriApiKey" aria-required="true" />
                                            <span asp-validation-for="SucuriApiKey" class="text-danger"></span>
                                        </div>

                                        <div class="mb-3">
                                            <label asp-for="SucuriApiSecret"></label>
                                            <input class="form-control" asp-for="SucuriApiSecret" aria-required="true" />
                                            <span asp-validation-for="SucuriApiSecret" class="text-danger"></span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        @if (@testResult != null)
                        {

                            @if (testResult.IsSuccessStatusCode)
                            {
                                <div class="alert alert-success" role="alert">
                                    <h2 class="alert-heading text-dark">Success</h2>
                                    <p>Your CDN settings have been saved and tested successfully.</p>
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-warning" role="alert">
                                    <h2 class="alert-heading text-dark">Warning</h2>
                                    <p>There was an error testing your CDN settings. Please try again.</p>
                                    <p>
                                        @testResult.ReasonPhrase
                                    </p>
                                </div>
                            }

                        }

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div>

                        @if (testResult != null)
                        {
                            <div class="mb-3">
                                Message: @testResult.Message
                                @testResult.Status
                            </div>
                        }
                        </div>

                        <button id="btnSave" type="submit" class="btn btn-sm btn-primary">Save and test settings <i class="fa-solid fa-circle-arrow-right"></i></button>
                        <a asp-action="Index" class="btn btn-sm btn-secondary">Cancel <i class="fa-solid fa-circle-arrow-right"></i></a>
                        <a asp-action="Remove" asp-controller="Cosmos___Cdn" class="btn btn-primary">Remove <i class="fa-solid fa-circle-arrow-right"></i></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("body").addClass("cwps-editor-container");
    });
</script>

<partial name="_ValidationScriptsPartial" />